div[is="link-ball"] {
    position: absolute;
    border-radius: 50%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div[is="link-ball"]>img {
    width: 50%;
    height: 50%;
}

.grabbed {
    cursor: grabbing !important;
}

html,
body {
    background-color: #111;
    height: 100%;
    margin: 0;
    overflow: hidden;
}